<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-Y25G9DLTQQ"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-Y25G9DLTQQ");
</script>

<!-- Favicons -->
<link
  rel="icon"
  type="image/png"
  href="/assets/images/favicon-96x96.png"
  sizes="96x96"
/>
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
<link rel="shortcut icon" href="/assets/images/favicon.ico" />

<!-- Styles -->
<link rel="stylesheet" href="/assets/css/custom.css" />
<link rel="stylesheet" href="/assets/css/rouge/base16.monokai.dark.css" />
